.array-bar {
    width: 8px;
    background-color: darkgreen;
    display: inline-block;
    margin: 0 0.5px;
}

.array-container {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort {
    margin: 8px 12px;
}