.array-bar {
    width: 4px;
    background-color: darkgreen;
    display: inline-block;
    margin: 0 0.5px;
}

.array-container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}